openapi: 3.0.3
info:
  contact:
    email: osi+support@bunnyshell.com
    name: API Support
    url: https://www.bunnyshell.com/
  description: Interact with Bunnyshell Platform
  termsOfService: https://www.bunnyshell.com/bunnyshell-customer-agreement/
  title: API Bunnyshell Environments
  version: 1.1.0
servers:
- description: ""
  url: https://api.environments.bunnyshell.com
security:
- ApiKeyAuth: []
- JWT: []
tags:
- description: Component Resource
  name: component
- description: ComponentEndpoint Resource
  name: componentEndpoint
- description: ComponentGit Resource
  name: componentGit
- description: Environ_item Resource
  name: environ_item
- description: Environment_variable Resource
  name: environment_variable
- description: Environment Resource
  name: environment
- description: Event Resource
  name: event
- description: Kubernetes_integration Resource
  name: kubernetes_integration
- description: Organization Resource
  name: organization
- description: Pipeline Resource
  name: pipeline
- description: Project_variable Resource
  name: project_variable
- description: Project Resource
  name: project
- description: Registry_integration Resource
  name: registry_integration
- description: Secret Resource
  name: secret
- description: Service_component_variable Resource
  name: service_component_variable
- description: Template Resource
  name: template
- description: Templates_repository Resource
  name: templates_repository
- description: Workflow Resource
  name: workflow
paths:
  /v1/components:
    get:
      deprecated: false
      description: List service components matching any selected filters
      operationId: ComponentList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by operationStatus
        example: draft
        explode: false
        in: query
        name: operationStatus
        required: false
        schema:
          enum:
          - draft
          - queued
          - building
          - building_failed
          - built
          - deploying
          - deployed
          - deployment_failed
          - updating
          - updating_failed
          - stopping
          - stopping_failed
          - stopped
          - restarting
          - restarting_failed
          - running
          - deleting
          - deleting_failed
          - deleted
          - starting
          - starting_failed
          - aborted
          - aborting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by clusterStatus
        example: not_available
        explode: false
        in: query
        name: clusterStatus
        required: false
        schema:
          enum:
          - not_available
          - err
          - scheduling
          - waiting
          - err_starting
          - crashing
          - running_ok
          - exited
          - completed
          - replica_scheduling
          - replica_waiting
          - replica_running_ok
          - replica_ko
          - replica_completed
          - replica_issues_scheduling
          - replica_issues_waiting
          - replica_issues_running
          - replica_issues_count
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-component-collection'
          description: component collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List service components matching any selected filters
      tags:
      - component
  /v1/components/endpoint:
    get:
      deprecated: false
      description: List endpoints for service components matching any selected filters
      operationId: ComponentEndpointList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-componentEndpoint-collection'
          description: componentEndpoint collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List endpoints for service components matching any selected filters
      tags:
      - componentEndpoint
  /v1/components/gitinfo:
    get:
      deprecated: false
      description: List git info for service components matching any selected filters
      operationId: ComponentGitList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by repository
        explode: false
        in: query
        name: repository
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by branch
        explode: false
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-componentGit-collection'
          description: componentGit collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List git info for service components matching any selected filters
      tags:
      - componentGit
  /v1/components/{id}:
    get:
      deprecated: false
      description: View a specific service component
      operationId: ComponentView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/component-item'
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific service component
      tags:
      - component
  /v1/components/{id}/endpoint:
    get:
      deprecated: false
      description: View endpoints for a specific service component
      operationId: ComponentEndpointView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/componentEndpoint-item'
          description: componentEndpoint resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View endpoints for a specific service component
      tags:
      - componentEndpoint
  /v1/components/{id}/gitinfo:
    get:
      deprecated: false
      description: View git info for a specific service component
      operationId: ComponentGitView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/componentGit-item'
          description: componentGit resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View git info for a specific service component
      tags:
      - componentGit
  /v1/components/{id}/remotedev/config:
    get:
      deprecated: false
      description: Get remote dev config
      operationId: ComponentRemote_dev_config
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component.Config-item'
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Get remote dev config
      tags:
      - component
  /v1/components/{id}/remotedev/profile:
    post:
      deprecated: false
      description: "Parse, validate and interpolate the provided remoteDevProfile"
      operationId: ComponentRemote_dev_profile
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x+yaml:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component.Profile-item'
          description: component resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: "Parse, validate and interpolate the provided remoteDevProfile"
      tags:
      - component
  /v1/components/{id}/resources:
    get:
      deprecated: false
      description: Get kubernetes resources
      operationId: ComponentResources
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/component.Resource-item'
                type: array
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Get kubernetes resources
      tags:
      - component
  /v1/environ_items:
    get:
      deprecated: false
      description: List environment variables matching any selected filters.
      operationId: Environ_itemList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by groupName
        explode: false
        in: query
        name: groupName
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-environ_item-collection'
          description: environ_item collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List environment variables matching any selected filters.
      tags:
      - environ_item
    post:
      deprecated: false
      description: Create a specific environment variable.
      operationId: Environ_itemCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environ_item.CreateAction'
        description: The new environ_item resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environ_item-item'
          description: environ_item resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Create a specific environment variable.
      tags:
      - environ_item
  /v1/environ_items/{id}:
    delete:
      deprecated: false
      description: Delete a specific environment variable.
      operationId: Environ_itemDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "204":
          description: environ_item resource deleted
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific environment variable.
      tags:
      - environ_item
    get:
      deprecated: false
      description: View a specific environment variable.
      operationId: Environ_itemView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environ_item-item'
          description: environ_item resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific environment variable.
      tags:
      - environ_item
    patch:
      deprecated: false
      description: Edit a specific environment variable.
      operationId: Environ_itemEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environ_item.EditAction'
        description: The updated environ_item resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environ_item-item'
          description: environ_item resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a specific environment variable.
      tags:
      - environ_item
  /v1/environment_variables:
    get:
      deprecated: false
      description: List environment variables matching any selected filters.
      operationId: Environment_variableList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-environment_variable-collection'
          description: environment_variable collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List environment variables matching any selected filters.
      tags:
      - environment_variable
    post:
      deprecated: false
      description: Create a specific environment variable.
      operationId: Environment_variableCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_variable.CreateAction'
        description: The new environment_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment_variable-item'
          description: environment_variable resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Create a specific environment variable.
      tags:
      - environment_variable
  /v1/environment_variables/{id}:
    delete:
      deprecated: false
      description: Delete a specific environment variable.
      operationId: Environment_variableDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "204":
          description: environment_variable resource deleted
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific environment variable.
      tags:
      - environment_variable
    get:
      deprecated: false
      description: View a specific environment variable.
      operationId: Environment_variableView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment_variable-item'
          description: environment_variable resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific environment variable.
      tags:
      - environment_variable
    patch:
      deprecated: false
      description: Edit a specific environment variable.
      operationId: Environment_variableEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_variable.EditAction'
        description: The updated environment_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment_variable-item'
          description: environment_variable resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a specific environment variable.
      tags:
      - environment_variable
  /v1/environments:
    get:
      deprecated: false
      description: List environments matching any selected filters.
      operationId: EnvironmentList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by kubernetesIntegration
        explode: false
        in: query
        name: kubernetesIntegration
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by type
        example: primary
        explode: false
        in: query
        name: type
        required: false
        schema:
          enum:
          - primary
          - ephemeral
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by operationStatus
        example: draft
        explode: false
        in: query
        name: operationStatus
        required: false
        schema:
          enum:
          - draft
          - queued
          - building
          - building_failed
          - built
          - deploying
          - deployed
          - deployment_failed
          - updating
          - updating_failed
          - stopping
          - stopping_failed
          - stopped
          - restarting
          - restarting_failed
          - running
          - deleting
          - deleting_failed
          - deleted
          - starting
          - starting_failed
          - aborted
          - aborting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by clusterStatus
        example: running_ok
        explode: false
        in: query
        name: clusterStatus
        required: false
        schema:
          enum:
          - running_ok
          - running_replica_issues
          - running_issues
          - completed
          - ko
          - not_available
          - pending
          - scheduling
          - waiting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by search
        explode: false
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by label key-value pair.
        explode: true
        in: query
        name: labels
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-environment-collection'
          description: environment collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List environments matching any selected filters.
      tags:
      - environment
    post:
      deprecated: false
      description: Creates a new environment.
      operationId: EnvironmentCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.CreateAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Creates a new environment.
      tags:
      - environment
  /v1/environments/{id}:
    get:
      deprecated: false
      description: View a specific environment.
      operationId: EnvironmentView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific environment.
      tags:
      - environment
  /v1/environments/{id}/build-settings:
    patch:
      deprecated: false
      description: Edit the build settings of an environment.
      operationId: EnvironmentEdit_build_settings
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditBuildSettingsAction'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit the build settings of an environment.
      tags:
      - environment
  /v1/environments/{id}/clone:
    post:
      deprecated: false
      description: Clone an environment.
      operationId: EnvironmentClone
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.CloneAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Clone an environment.
      tags:
      - environment
  /v1/environments/{id}/components:
    put:
      deprecated: false
      description: Edit the components of an environment.
      operationId: EnvironmentEdit_components
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditComponentsAction'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit the components of an environment.
      tags:
      - environment
  /v1/environments/{id}/configuration:
    put:
      deprecated: false
      description: Edit an environment.
      operationId: EnvironmentEdit_configuration
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditConfiguration'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit an environment.
      tags:
      - environment
  /v1/environments/{id}/definition:
    get:
      deprecated: false
      description: View the bunnyshell manifest for the environment
      operationId: EnvironmentDefinition
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/environment.GenericObject'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View the bunnyshell manifest for the environment
      tags:
      - environment
  /v1/environments/{id}/delete:
    post:
      deprecated: false
      description: Delete a specific environment.
      operationId: EnvironmentDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific environment.
      tags:
      - environment
  /v1/environments/{id}/deploy:
    post:
      deprecated: false
      description: Deploy an environment.
      operationId: EnvironmentDeploy
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.PartialDeployAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Deploy an environment.
      tags:
      - environment
  /v1/environments/{id}/kube-config:
    get:
      deprecated: false
      description: Download Kubernetes Config File
      operationId: EnvironmentKube_config
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/environment.KubeConfig-kube-config.read'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Download Kubernetes Config File
      tags:
      - environment
  /v1/environments/{id}/settings:
    put:
      deprecated: false
      description: Edit an environment.
      operationId: EnvironmentEdit_settings
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditSettings'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit an environment.
      tags:
      - environment
  /v1/environments/{id}/start:
    post:
      deprecated: false
      description: Start an environment.
      operationId: EnvironmentStart
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.PartialStartAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Start an environment.
      tags:
      - environment
  /v1/environments/{id}/stop:
    post:
      deprecated: false
      description: Stop an environment.
      operationId: EnvironmentStop
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.PartialAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Stop an environment.
      tags:
      - environment
  /v1/events:
    get:
      deprecated: false
      description: List events matching any selected filters.
      operationId: EventList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by type
        example: env_create
        explode: false
        in: query
        name: type
        required: false
        schema:
          enum:
          - env_create
          - env_create_ephemeral
          - env_clone
          - env_deploy
          - env_delete
          - env_delete_ephemeral
          - env_start_manual
          - env_start_auto
          - env_stop_manual
          - env_stop_auto
          - env_stop_expired
          - env_abort_manual
          - env_conv_eph_to_primary
          - build_settings_validated
          - kubernetes_apply_configuration
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: new
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - in_progress
          - success
          - fail
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-event-collection'
          description: event collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List events matching any selected filters.
      tags:
      - event
  /v1/events/{id}:
    get:
      deprecated: false
      description: View a specific event.
      operationId: EventView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: event resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific event.
      tags:
      - event
  /v1/kubernetes_integrations:
    get:
      deprecated: false
      description: List Kubernetes integrations matching any selected filters.
      operationId: Kubernetes_integrationList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: new
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - connected
          - disconnected
          - detached
          - locked
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by cloudProvider
        explode: false
        in: query
        name: cloudProvider
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-kubernetes_integration-collection'
          description: kubernetes_integration collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List Kubernetes integrations matching any selected filters.
      tags:
      - kubernetes_integration
  /v1/kubernetes_integrations/{id}:
    get:
      deprecated: false
      description: View a specific Kubernetes integration.
      operationId: Kubernetes_integrationView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/kubernetes_integration-item'
          description: kubernetes_integration resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Kubernetes integration.
      tags:
      - kubernetes_integration
  /v1/organizations:
    get:
      deprecated: false
      description: List organization matching any selected filters.
      operationId: OrganizationList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by search
        explode: false
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-organization-collection'
          description: organization collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List organization matching any selected filters.
      tags:
      - organization
  /v1/organizations/{id}:
    get:
      deprecated: false
      description: View a specific organization.
      operationId: OrganizationView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/organization-item'
          description: organization resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific organization.
      tags:
      - organization
  /v1/pipelines:
    get:
      deprecated: true
      description: List pipelines matching any selected filters.
      operationId: PipelineList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by event
        explode: false
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: queued
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - queued
          - in_progress
          - success
          - failing
          - failed
          - aborting
          - aborted
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-pipeline-collection'
          description: pipeline collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List pipelines matching any selected filters.
      tags:
      - pipeline
  /v1/pipelines/{id}:
    get:
      deprecated: true
      description: View a specific Pipeline.
      operationId: PipelineView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/pipeline-item'
          description: pipeline resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Pipeline.
      tags:
      - pipeline
  /v1/project_variables:
    get:
      deprecated: false
      description: List project variables matching any selected filters.
      operationId: Project_variableList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-project_variable-collection'
          description: project_variable collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List project variables matching any selected filters.
      tags:
      - project_variable
    post:
      deprecated: false
      description: Create a specific project variable.
      operationId: Project_variableCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_variable.CreateAction'
        description: The new project_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project_variable-item'
          description: project_variable resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Create a specific project variable.
      tags:
      - project_variable
  /v1/project_variables/{id}:
    delete:
      deprecated: false
      description: Delete a specific project variable.
      operationId: Project_variableDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "204":
          description: project_variable resource deleted
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific project variable.
      tags:
      - project_variable
    get:
      deprecated: false
      description: View a specific project variable.
      operationId: Project_variableView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project_variable-item'
          description: project_variable resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific project variable.
      tags:
      - project_variable
    patch:
      deprecated: false
      description: Edit a specific project variable.
      operationId: Project_variableEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_variable.EditAction'
        description: The updated project_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project_variable-item'
          description: project_variable resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a specific project variable.
      tags:
      - project_variable
  /v1/projects:
    get:
      deprecated: false
      description: List projects matching any selected filters.
      operationId: ProjectList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by search
        explode: false
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by label key-value pair.
        explode: true
        in: query
        name: labels
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-project-collection'
          description: project collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List projects matching any selected filters.
      tags:
      - project
    post:
      deprecated: false
      description: Creates new project.
      operationId: ProjectCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project.CreateAction'
        description: The new project resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project-item'
          description: project resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Creates new project.
      tags:
      - project
  /v1/projects/{id}:
    delete:
      deprecated: false
      description: Delete a specific project.
      operationId: ProjectDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "204":
          description: project resource deleted
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific project.
      tags:
      - project
    get:
      deprecated: false
      description: View a specific project.
      operationId: ProjectView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project-item'
          description: project resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific project.
      tags:
      - project
  /v1/projects/{id}/build-settings:
    patch:
      deprecated: false
      description: Edit the build settings of a project.
      operationId: ProjectEdit_build_settings
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project.EditBuildSettingsAction'
        description: The updated project resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project-item'
          description: project resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit the build settings of a project.
      tags:
      - project
  /v1/projects/{id}/settings:
    patch:
      deprecated: false
      description: Edit a project.
      operationId: ProjectEdit_settings
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project.EditSettingsAction'
        description: The updated project resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project-item'
          description: project resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a project.
      tags:
      - project
  /v1/registry_integrations:
    get:
      deprecated: false
      description: List Registry integrations matching any selected filters.
      operationId: Registry_integrationList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-registry_integration-collection'
          description: registry_integration collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List Registry integrations matching any selected filters.
      tags:
      - registry_integration
  /v1/registry_integrations/{id}:
    get:
      deprecated: false
      description: View a specific Registry integration.
      operationId: Registry_integrationView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/registry_integration-item'
          description: registry_integration resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Registry integration.
      tags:
      - registry_integration
  /v1/secrets/decrypt:
    post:
      deprecated: false
      description: Decrypt a cipher text.
      operationId: SecretDecrypt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secret.DecryptAction'
        description: The new secret resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/secret.Decrypted-item'
          description: secret resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Decrypt a cipher text.
      tags:
      - secret
  /v1/secrets/encrypt:
    post:
      deprecated: false
      description: Encrypt a plain text.
      operationId: SecretEncrypt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secret.EncryptAction'
        description: The new secret resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/secret.Encrypted-item'
          description: secret resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Encrypt a plain text.
      tags:
      - secret
  /v1/secrets/transcrypt-configuration:
    post:
      deprecated: false
      description: Encrypt or decrypt secrets from an environment configuration.
      operationId: SecretTranscrypt-configuration
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/secret.TranscryptConfigurationAction'
        description: The new secret resource
        required: true
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/secret.GenericObject'
          description: secret resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Encrypt or decrypt secrets from an environment configuration.
      tags:
      - secret
  /v1/service_component_variables:
    get:
      deprecated: false
      description: List component variables matching any selected filters.
      operationId: Service_component_variableList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by serviceComponent
        explode: false
        in: query
        name: serviceComponent
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by serviceComponentName
        explode: false
        in: query
        name: serviceComponentName
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-service_component_variable-collection'
          description: service_component_variable collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List component variables matching any selected filters.
      tags:
      - service_component_variable
    post:
      deprecated: false
      description: Create a specific component variable.
      operationId: Service_component_variableCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_component_variable.CreateAction'
        description: The new service_component_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/service_component_variable-item'
          description: service_component_variable resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Create a specific component variable.
      tags:
      - service_component_variable
  /v1/service_component_variables/{id}:
    delete:
      deprecated: false
      description: Delete a specific component variable.
      operationId: Service_component_variableDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "204":
          description: service_component_variable resource deleted
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific component variable.
      tags:
      - service_component_variable
    get:
      deprecated: false
      description: View a specific component variable.
      operationId: Service_component_variableView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/service_component_variable-item'
          description: service_component_variable resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific component variable.
      tags:
      - service_component_variable
    patch:
      deprecated: false
      description: Edit a specific component variable.
      operationId: Service_component_variableEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_component_variable.EditAction'
        description: The updated service_component_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/service_component_variable-item'
          description: service_component_variable resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a specific component variable.
      tags:
      - service_component_variable
  /v1/templates:
    get:
      deprecated: false
      description: List templates matching any selected filters.
      operationId: TemplateList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by templatesRepository
        explode: false
        in: query
        name: templatesRepository
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: |-
          Filter used to fetch templates by source.
           * `public` - contains Bunnyshell curated templates
           * `private` - contains your organizations templates
           * `all` - contains templates for every source
        example: all
        explode: false
        in: query
        name: source
        required: false
        schema:
          enum:
          - all
          - public
          - private
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by search
        explode: false
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-template-collection'
          description: template collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List templates matching any selected filters.
      tags:
      - template
  /v1/templates/validate:
    post:
      deprecated: false
      description: Validates a given template from an external source.
      operationId: TemplateValidate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template.ValidateAction'
        description: The new template resource
        required: true
      responses:
        "204":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/template-collection'
          description: template resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Validates a given template from an external source.
      tags:
      - template
  /v1/templates/{id}:
    get:
      deprecated: false
      description: View a specific template.
      operationId: TemplateView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/template-item'
          description: template resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific template.
      tags:
      - template
  /v1/templates/{id}/definition:
    get:
      deprecated: false
      description: View the environment definition.
      operationId: TemplateDefinition
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/template.GenericObject'
          description: template resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View the environment definition.
      tags:
      - template
  /v1/templates_repositories:
    get:
      deprecated: false
      description: List templates repositories matching any selected filters.
      operationId: Templates_repositoryList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-templates_repository-collection'
          description: templates_repository collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List templates repositories matching any selected filters.
      tags:
      - templates_repository
  /v1/templates_repositories/{id}:
    get:
      deprecated: false
      description: View a specific templates repository.
      operationId: Templates_repositoryView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/templates_repository-item'
          description: templates_repository resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific templates repository.
      tags:
      - templates_repository
  /v1/workflows:
    get:
      deprecated: false
      description: List workflows matching any selected filters.
      operationId: WorkflowList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by event
        explode: false
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: queued
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - queued
          - in_progress
          - success
          - failing
          - failed
          - aborting
          - aborted
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-workflow-collection'
          description: workflow collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List workflows matching any selected filters.
      tags:
      - workflow
  /v1/workflows/{id}:
    get:
      deprecated: false
      description: View a specific Workflow.
      operationId: WorkflowView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/workflow-item'
          description: workflow resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Workflow.
      tags:
      - workflow
components:
  examples: {}
  headers: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    ArrayObject-kube-config.read:
      type: object
    BooleanType-item:
      properties:
        defaultValue:
          $ref: '#/components/schemas/BooleanValue-item'
        name:
          description: A variable used within the template.
          type: string
        description:
          description: The variable description
          type: string
        type:
          readOnly: true
          type: string
      type: object
    BooleanValue-item:
      properties:
        value:
          type: boolean
        type:
          readOnly: true
          type: string
      type: object
    BuildSettings-item:
      properties:
        useManagedRegistry:
          description: Use the managed container registry.
          type: boolean
        registryIntegration:
          description: The Container Registry used for the built images.
          nullable: true
          type: string
        useManagedCluster:
          description: Use the managed builds Cluster.
          type: boolean
        kubernetesIntegration:
          description: The Kubernetes integration cluster used for the image builds.
          nullable: true
          type: string
        cpu:
          description: The CPU allocated for the build runner.
          nullable: true
          type: string
        memory:
          description: The memory allocated for the build runner.
          nullable: true
          type: integer
        lastStatus:
          description: The latest status of the build settings.
          nullable: true
          type: string
        lastError:
          description: The latest status of the build settings.
          nullable: true
          type: string
      type: object
    Cluster-kube-config.read:
      properties:
        certificate-authority-data:
          type: string
        server:
          type: string
      required:
      - certificate-authority-data
      - server
      type: object
    ClusterWrapper-kube-config.read:
      properties:
        name:
          type: string
        cluster:
          $ref: '#/components/schemas/Cluster-kube-config.read'
      required:
      - cluster
      - name
      type: object
    ContainerConfig-item:
      properties:
        profile:
          $ref: '#/components/schemas/ContainerConfig_item_profile'
      type: object
    Context-kube-config.read:
      properties:
        cluster:
          type: string
        namespace:
          type: string
        user:
          type: string
      required:
      - cluster
      - user
      type: object
    ContextWrapper-kube-config.read:
      properties:
        name:
          type: string
[...]
