openapi: 3.0.3
info:
  contact:
    email: osi+support@bunnyshell.com
    name: API Support
    url: https://www.bunnyshell.com/
  description: Interact with Bunnyshell Platform
  termsOfService: https://www.bunnyshell.com/bunnyshell-customer-agreement/
  title: API Bunnyshell Environments
  version: 1.1.0
servers:
- description: ""
  url: https://api.environments.bunnyshell.com
security:
- ApiKeyAuth: []
- JWT: []
tags:
- description: Component Resource
  name: component
- description: ComponentEndpoint Resource
  name: componentEndpoint
- description: ComponentGit Resource
  name: componentGit
- description: Environment_variable Resource
  name: environment_variable
- description: Environment Resource
  name: environment
- description: Event Resource
  name: event
- description: Kubernetes_integration Resource
  name: kubernetes_integration
- description: Organization Resource
  name: organization
- description: Pipeline Resource
  name: pipeline
- description: Project Resource
  name: project
- description: Template Resource
  name: template
- description: Templates_repository Resource
  name: templates_repository
paths:
  /v1/components:
    get:
      deprecated: false
      description: List service components matching any selected filters
      operationId: ComponentList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by operationStatus
        example: draft
        explode: false
        in: query
        name: operationStatus
        required: false
        schema:
          enum:
          - draft
          - queued
          - building
          - building_failed
          - built
          - deploying
          - deployed
          - deployment_failed
          - updating
          - updating_failed
          - stopping
          - stopping_failed
          - stopped
          - restarting
          - restarting_failed
          - running
          - deleting
          - deleting_failed
          - deleted
          - starting
          - starting_failed
          - aborted
          - aborting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by clusterStatus
        example: not_available
        explode: false
        in: query
        name: clusterStatus
        required: false
        schema:
          enum:
          - not_available
          - err
          - scheduling
          - waiting
          - err_starting
          - crashing
          - running_ok
          - exited
          - completed
          - replica_scheduling
          - replica_waiting
          - replica_running_ok
          - replica_ko
          - replica_completed
          - replica_issues_scheduling
          - replica_issues_waiting
          - replica_issues_running
          - replica_issues_count
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-component-collection'
          description: component collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List service components matching any selected filters
      tags:
      - component
  /v1/components/endpoint:
    get:
      deprecated: false
      description: List endpoints for service components matching any selected filters
      operationId: ComponentEndpointList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-componentEndpoint-collection'
          description: componentEndpoint collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List endpoints for service components matching any selected filters
      tags:
      - componentEndpoint
  /v1/components/gitinfo:
    get:
      deprecated: false
      description: List git info for service components matching any selected filters
      operationId: ComponentGitList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by repository
        explode: false
        in: query
        name: repository
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by branch
        explode: false
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-componentGit-collection'
          description: componentGit collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List git info for service components matching any selected filters
      tags:
      - componentGit
  /v1/components/{id}:
    get:
      deprecated: false
      description: View a specific service component
      operationId: ComponentView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/component-item'
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific service component
      tags:
      - component
  /v1/components/{id}/endpoint:
    get:
      deprecated: false
      description: View endpoints for a specific service component
      operationId: ComponentEndpointView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/componentEndpoint-item'
          description: componentEndpoint resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View endpoints for a specific service component
      tags:
      - componentEndpoint
  /v1/components/{id}/gitinfo:
    get:
      deprecated: false
      description: View git info for a specific service component
      operationId: ComponentGitView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/componentGit-item'
          description: componentGit resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View git info for a specific service component
      tags:
      - componentGit
  /v1/components/{id}/remotedev/config:
    get:
      deprecated: false
      description: Get remote dev config
      operationId: ComponentRemote_dev_config
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component.Config-item'
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Get remote dev config
      tags:
      - component
  /v1/components/{id}/remotedev/profile:
    post:
      deprecated: false
      description: "Parse, validate and interpolate the provided remoteDevProfile"
      operationId: ComponentRemote_dev_profile
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x+yaml:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component.Profile-item'
          description: component resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: "Parse, validate and interpolate the provided remoteDevProfile"
      tags:
      - component
  /v1/components/{id}/resources:
    get:
      deprecated: false
      description: Get kubernetes resources
      operationId: ComponentResources
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/component.Resource-item'
                type: array
          description: component resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Get kubernetes resources
      tags:
      - component
  /v1/environment_variables:
    get:
      deprecated: false
      description: List environment variables matching any selected filters.
      operationId: Environment_variableList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by name
        explode: false
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-environment_variable-collection'
          description: environment_variable collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List environment variables matching any selected filters.
      tags:
      - environment_variable
  /v1/environment_variables/{id}:
    get:
      deprecated: false
      description: View a specific environment variable.
      operationId: Environment_variableView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment_variable-item'
          description: environment_variable resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific environment variable.
      tags:
      - environment_variable
    patch:
      deprecated: false
      description: Edit a specific environment variable.
      operationId: Environment_variableEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment_variable.Edit'
        description: The updated environment_variable resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment_variable-item'
          description: environment_variable resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit a specific environment variable.
      tags:
      - environment_variable
  /v1/environments:
    get:
      deprecated: false
      description: List environments matching any selected filters.
      operationId: EnvironmentList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by kubernetesIntegration
        explode: false
        in: query
        name: kubernetesIntegration
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by type
        example: primary
        explode: false
        in: query
        name: type
        required: false
        schema:
          enum:
          - primary
          - ephemeral
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by operationStatus
        example: draft
        explode: false
        in: query
        name: operationStatus
        required: false
        schema:
          enum:
          - draft
          - queued
          - building
          - building_failed
          - built
          - deploying
          - deployed
          - deployment_failed
          - updating
          - updating_failed
          - stopping
          - stopping_failed
          - stopped
          - restarting
          - restarting_failed
          - running
          - deleting
          - deleting_failed
          - deleted
          - starting
          - starting_failed
          - aborted
          - aborting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by clusterStatus
        example: running_ok
        explode: false
        in: query
        name: clusterStatus
        required: false
        schema:
          enum:
          - running_ok
          - running_replica_issues
          - running_issues
          - completed
          - ko
          - not_available
          - pending
          - scheduling
          - waiting
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by project
        explode: false
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-environment-collection'
          description: environment collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List environments matching any selected filters.
      tags:
      - environment
    post:
      deprecated: false
      description: Creates a new environment.
      operationId: EnvironmentCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.CreateAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Creates a new environment.
      tags:
      - environment
  /v1/environments/{id}:
    get:
      deprecated: false
      description: View a specific environment.
      operationId: EnvironmentView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific environment.
      tags:
      - environment
    put:
      deprecated: false
      description: Edit an environment.
      operationId: EnvironmentEdit
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditAction'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit an environment.
      tags:
      - environment
  /v1/environments/{id}/clone:
    post:
      deprecated: false
      description: Clone an environment.
      operationId: EnvironmentClone
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.CloneAction'
        description: The new environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Clone an environment.
      tags:
      - environment
  /v1/environments/{id}/components:
    put:
      deprecated: false
      description: Edit the components of an environment.
      operationId: EnvironmentEdit_components
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environment.EditComponentsAction'
        description: The updated environment resource
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/environment-item'
          description: environment resource updated
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Edit the components of an environment.
      tags:
      - environment
  /v1/environments/{id}/definition:
    get:
      deprecated: false
      description: View the bunnyshell manifest for the environment
      operationId: EnvironmentDefinition
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/environment.GenericObject'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View the bunnyshell manifest for the environment
      tags:
      - environment
  /v1/environments/{id}/delete:
    post:
      deprecated: false
      description: Delete a specific environment.
      operationId: EnvironmentDelete
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Delete a specific environment.
      tags:
      - environment
  /v1/environments/{id}/deploy:
    post:
      deprecated: false
      description: Deploy an environment.
      operationId: EnvironmentDeploy
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Deploy an environment.
      tags:
      - environment
  /v1/environments/{id}/kube-config:
    get:
      deprecated: false
      description: Download Kubernetes Config File
      operationId: EnvironmentKube_config
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/environment.KubeConfig-kube-config.read'
          description: environment resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Download Kubernetes Config File
      tags:
      - environment
  /v1/environments/{id}/start:
    post:
      deprecated: false
      description: Start an environment.
      operationId: EnvironmentStart
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Start an environment.
      tags:
      - environment
  /v1/environments/{id}/stop:
    post:
      deprecated: false
      description: Stop an environment.
      operationId: EnvironmentStop
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        description: No Request Body
        required: false
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: environment resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Stop an environment.
      tags:
      - environment
  /v1/events:
    get:
      deprecated: false
      description: List events matching any selected filters.
      operationId: EventList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by type
        example: env_create
        explode: false
        in: query
        name: type
        required: false
        schema:
          enum:
          - env_create
          - env_create_ephemeral
          - env_clone
          - env_deploy
          - env_delete
          - env_delete_ephemeral
          - env_start_manual
          - env_start_auto
          - env_stop_manual
          - env_stop_auto
          - env_abort_manual
          - env_conv_eph_to_primary
          - tf_delete_module_use
          - tf_apply_module_use
          - tf_sync_module_use
          - build_settings_validated
          - kubernetes_apply_configuration
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: new
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - in_progress
          - success
          - fail
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-event-collection'
          description: event collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List events matching any selected filters.
      tags:
      - event
  /v1/events/{id}:
    get:
      deprecated: false
      description: View a specific event.
      operationId: EventView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/event-item'
          description: event resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific event.
      tags:
      - event
  /v1/kubernetes_integrations:
    get:
      deprecated: false
      description: List Kubernetes integrations matching any selected filters.
      operationId: Kubernetes_integrationList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: new
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - connected
          - disconnected
          - detached
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by cloudProvider
        explode: false
        in: query
        name: cloudProvider
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-kubernetes_integration-collection'
          description: kubernetes_integration collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List Kubernetes integrations matching any selected filters.
      tags:
      - kubernetes_integration
  /v1/kubernetes_integrations/{id}:
    get:
      deprecated: false
      description: View a specific Kubernetes integration.
      operationId: Kubernetes_integrationView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/kubernetes_integration-item'
          description: kubernetes_integration resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Kubernetes integration.
      tags:
      - kubernetes_integration
  /v1/organizations:
    get:
      deprecated: false
      description: List organization matching any selected filters.
      operationId: OrganizationList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-organization-collection'
          description: organization collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List organization matching any selected filters.
      tags:
      - organization
  /v1/organizations/{id}:
    get:
      deprecated: false
      description: View a specific organization.
      operationId: OrganizationView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/organization-item'
          description: organization resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific organization.
      tags:
      - organization
  /v1/pipelines:
    get:
      deprecated: false
      description: List pipelines matching any selected filters.
      operationId: PipelineList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by environment
        explode: false
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by event
        explode: false
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by status
        example: success
        explode: false
        in: query
        name: status
        required: false
        schema:
          enum:
          - success
          - failed
          - in_progress
          - pending
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-pipeline-collection'
          description: pipeline collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List pipelines matching any selected filters.
      tags:
      - pipeline
  /v1/pipelines/{id}:
    get:
      deprecated: false
      description: View a specific Pipeline.
      operationId: PipelineView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/pipeline-item'
          description: pipeline resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific Pipeline.
      tags:
      - pipeline
  /v1/projects:
    get:
      deprecated: false
      description: List projects matching any selected filters.
      operationId: ProjectList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-project-collection'
          description: project collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List projects matching any selected filters.
      tags:
      - project
  /v1/projects/{id}:
    get:
      deprecated: false
      description: View a specific project.
      operationId: ProjectView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/project-item'
          description: project resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific project.
      tags:
      - project
  /v1/templates:
    get:
      deprecated: false
      description: List templates matching any selected filters.
      operationId: TemplateList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by templatesRepository
        explode: false
        in: query
        name: templatesRepository
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: |-
          Filter used to fetch templates by source.
           * `public` - contains Bunnyshell curated templates
           * `private` - contains your organizations templates
           * `all` - contains templates for every source
        example: all
        explode: false
        in: query
        name: source
        required: false
        schema:
          enum:
          - all
          - public
          - private
          type: string
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by search
        explode: false
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-template-collection'
          description: template collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List templates matching any selected filters.
      tags:
      - template
  /v1/templates/validate:
    post:
      deprecated: false
      description: Validates a given template from an external source.
      operationId: TemplateValidate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template.ValidateAction'
        description: The new template resource
        required: true
      responses:
        "204":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/template-collection'
          description: template resource created
        "400":
          description: Invalid input
        "422":
          description: Unprocessable entity
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: Validates a given template from an external source.
      tags:
      - template
  /v1/templates/{id}:
    get:
      deprecated: false
      description: View a specific template.
      operationId: TemplateView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/template-item'
          description: template resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific template.
      tags:
      - template
  /v1/templates/{id}/definition:
    get:
      deprecated: false
      description: View the environment definition.
      operationId: TemplateDefinition
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x+yaml:
              schema:
                $ref: '#/components/schemas/template.GenericObject'
          description: template resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View the environment definition.
      tags:
      - template
  /v1/templates_repositories:
    get:
      deprecated: false
      description: List templates repositories matching any selected filters.
      operationId: Templates_repositoryList
      parameters:
      - allowEmptyValue: true
        allowReserved: false
        deprecated: false
        description: The collection page number
        explode: false
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - allowEmptyValue: false
        allowReserved: false
        deprecated: false
        description: Filter by organization
        explode: false
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/paginated-templates_repository-collection'
          description: templates_repository collection
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: List templates repositories matching any selected filters.
      tags:
      - templates_repository
  /v1/templates_repositories/{id}:
    get:
      deprecated: false
      description: View a specific templates repository.
      operationId: Templates_repositoryView
      parameters:
      - allowReserved: false
        deprecated: false
        description: Resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/templates_repository-item'
          description: templates_repository resource
        "404":
          description: Resource not found
        "4XX":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem.generic'
          description: Request Error
      summary: View a specific templates repository.
      tags:
      - templates_repository
components:
  examples: {}
  headers: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    ArrayObject-kube-config.read:
      type: object
    Cluster-kube-config.read:
      properties:
        certificate-authority-data:
          type: string
        server:
          type: string
      required:
      - certificate-authority-data
      - server
      type: object
    ClusterWrapper-kube-config.read:
      properties:
        name:
          type: string
        cluster:
          $ref: '#/components/schemas/Cluster-kube-config.read'
      required:
      - name
      type: object
    ContainerConfig-item:
      properties:
        profile:
          $ref: '#/components/schemas/ContainerConfig_item_profile'
      type: object
    Context-kube-config.read:
      properties:
        cluster:
          type: string
        namespace:
          type: string
        user:
          type: string
      required:
      - cluster
      - namespace
      - user
      type: object
    ContextWrapper-kube-config.read:
      properties:
        name:
          type: string
        context:
          $ref: '#/components/schemas/Context-kube-config.read'
      required:
      - name
      type: object
    Ephemeral:
      properties:
        type:
          default: ephemeral
          example: ephemeral
          type: string
      type: object
    ExtendedResourceConfig-item:
      properties:
        extended:
          readOnly: true
          type: boolean
        namespace:
          description: The resource namespace.
          readOnly: true
          type: string
        kind:
          description: The resource kind.
          readOnly: true
          type: string
        name:
          description: The resource name.
          readOnly: true
          type: string
        containers:
          additionalProperties:
            $ref: '#/components/schemas/ContainerConfig-item'
          description: A list of container configs.
          readOnly: true
          type: object
      type: object
    FilterGit:
      properties:
        type:
          default: git
          example: git
          type: string
        repository:
          nullable: true
          type: string
        branch:
          nullable: true
          type: string
      type: object
    FilterName:
      properties:
        type:
          default: name
          example: name
          type: string
        name:
          nullable: true
          type: string
      type: object
    FromGit:
      properties:
        type:
          default: git
          example: git
          type: string
        url:
          type: string
        branch:
          type: string
        yamlPath:
          type: string
      type: object
    FromGitSpec:
      properties:
        type:
          default: git-spec
          example: git-spec
          type: string
        spec:
          type: string
      type: object
    FromString:
      properties:
        type:
          default: string
          example: string
          type: string
        yaml:
          type: string
      type: object
    FromTemplate:
      properties:
        type:
          default: template
          example: template
          type: string
        template:
          type: string
      type: object
    GitInfo:
      properties:
        repository:
          nullable: true
          type: string
        branch:
          nullable: true
          type: string
      type: object
    Primary:
      properties:
        type:
          default: primary
          example: primary
          type: string
        createEphemeralOnPrCreate:
          nullable: true
          type: boolean
        destroyEphemeralOnPrClose:
          nullable: true
          type: boolean
        ephemeralKubernetesIntegration:
          nullable: true
          type: string
      type: object
    Profile-item:
      properties:
        command:
          description: The command to be run when starting the container.
          items:
            type: string
          readOnly: true
          type: array
        portMapping:
          description: The port mapping for the container.
          items:
            type: string
          readOnly: true
          type: array
        environ:
          additionalProperties:
            type: string
          description: The environ for the container.
          readOnly: true
          type: object
        syncPaths:
          description: The sync paths for the container.
          items:
            $ref: '#/components/schemas/SyncPath-item'
          readOnly: true
          type: array
        requirements:
          $ref: '#/components/schemas/Profile_item_requirements'
      type: object
    ResourceList-item:
      properties:
        cpu:
          description: The CPU resources for the container.
          nullable: true
          readOnly: true
          type: string
        memory:
          description: The Memory resources for the container.
          nullable: true
          readOnly: true
          type: string
      type: object
    ResourceRequirement-item:
      properties:
        requests:
          $ref: '#/components/schemas/ResourceRequirement_item_requests'
        limits:
          $ref: '#/components/schemas/ResourceRequirement_item_limits'
      type: object
    SimpleResourceConfig-item:
      properties:
        simple:
          readOnly: true
          type: boolean
        containers:
          additionalProperties:
            $ref: '#/components/schemas/ContainerConfig-item'
          description: A list of container configs.
          readOnly: true
          type: object
      type: object
    Stage-item:
      properties:
        id:
          description: Stage identifier.
          readOnly: true
          type: string
        name:
          description: Stage name.
          readOnly: true
          type: string
        status:
          description: Stage status.
          readOnly: true
          type: string
        duration:
          description: Stage duration.
          nullable: true
          readOnly: true
          type: integer
        jobsCount:
          description: Stage total jobs.
          readOnly: true
          type: integer
        completedJobsCount:
          description: Stage completed jobs.
          readOnly: true
          type: integer
        pipeline:
          description: Event identifier.
          readOnly: true
          type: string
      type: object
    SyncPath-item:
      example:
        remotePath: remotePath
        localPath: localPath
      properties:
        localPath:
          description: The local path on the host os to sync from.
          nullable: true
          readOnly: true
          type: string
        remotePath:
          description: The remote path on the container to sync to.
          readOnly: true
          type: string
      type: object
    User-kube-config.read:
      properties:
        token:
          type: string
      required:
      - token
      type: object
    UserWrapper-kube-config.read:
      properties:
        name:
          type: string
        user:
          $ref: '#/components/schemas/User-kube-config.read'
      required:
      - name
      type: object
    ValidateSourceGit:
      properties:
        type:
          default: git
          example: git
          type: string
        url:
          externalDocs:
            url: http://schema.org/url
          maxLength: 255
          type: string
        ref:
          maxLength: 255
          type: string
        dirPath:
          maxLength: 255
          type: string
        organizationId:
          type: string
        validateComponents:
          type: boolean
      required:
      - dirPath
      - organizationId
      - ref
      - url
      type: object
    ValidateSourceString:
      properties:
        type:
          default: string
          example: string
          type: string
        bunnyshellYaml:
          type: string
        templateYaml:
          type: string
        validateComponents:
          type: boolean
        validateForOrganizationId:
          nullable: true
          type: string
      required:
      - bunnyshellYaml
      - templateYaml
      type: object
    component-collection:
      description: A service component represents either an application or a group
        of applications as a single unit
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        clusterStatus:
          description: Service component cluster status
          readOnly: true
          type: string
        operationStatus:
          description: Service component operation status
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    component-item:
      description: A service component represents either an application or a group
        of applications as a single unit
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        clusterStatus:
          description: Service component cluster status
          readOnly: true
          type: string
        operationStatus:
          description: Service component operation status
          readOnly: true
          type: string
        publicURLs:
          description: Service component URLs
          items:
            type: string
          readOnly: true
          type: array
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    component.Config-item:
      description: A service component represents either an application or a group
        of applications as a single unit
      example:
        config: null
      properties:
        config:
          $ref: '#/components/schemas/component_Config_item_config'
      type: object
    component.Profile-item:
      description: A service component represents either an application or a group
        of applications as a single unit
      example:
        portMapping:
        - portMapping
        - portMapping
        requirements: null
        syncPaths:
        - remotePath: remotePath
          localPath: localPath
        - remotePath: remotePath
          localPath: localPath
        command:
        - command
        - command
        environ:
          key: environ
      properties:
        command:
          description: The command to be run when starting the container.
          items:
            type: string
          readOnly: true
          type: array
        portMapping:
          description: The port mapping for the container.
          items:
            type: string
          readOnly: true
          type: array
        environ:
          additionalProperties:
            type: string
          description: The environ for the container.
          readOnly: true
          type: object
        syncPaths:
          description: The sync paths for the container.
          items:
            $ref: '#/components/schemas/SyncPath-item'
          readOnly: true
          type: array
        requirements:
          $ref: '#/components/schemas/Profile_item_requirements'
      type: object
    component.Resource-item:
      description: A service component represents either an application or a group
        of applications as a single unit
      example:
        kind: kind
        name: name
        namespace: namespace
      properties:
        kind:
          description: Kubernetes resource kind.
          type: string
        name:
          description: Kubernetes resource name.
          type: string
        namespace:
          description: Kubernetes resource namespace.
          nullable: true
          type: string
      type: object
    componentEndpoint-collection:
      description: Endpoint
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        endpoints:
          description: Service component URLs
          items:
            type: string
          readOnly: true
          type: array
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    componentEndpoint-item:
      description: Endpoint
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        endpoints:
          description: Service component URLs
          items:
            type: string
          readOnly: true
          type: array
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    componentGit-collection:
      description: Git info
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        repository:
          description: Git repository
          readOnly: true
          type: string
        refName:
          description: Git ref name
          readOnly: true
          type: string
        path:
          description: Git application path
          nullable: true
          readOnly: true
          type: string
        refSha:
          description: Git ref sha
          nullable: true
          readOnly: true
          type: string
        deployedSha:
          description: Git deployed sha
          nullable: true
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    componentGit-item:
      description: Git info
      properties:
        id:
          description: Service component identifier
          readOnly: true
          type: string
        name:
          description: Service component name
          readOnly: true
          type: string
        repository:
          description: Git repository
          readOnly: true
          type: string
        refName:
          description: Git ref name
          readOnly: true
          type: string
        path:
          description: Git application path
          nullable: true
          readOnly: true
          type: string
        refSha:
          description: Git ref sha
          nullable: true
          readOnly: true
          type: string
        deployedSha:
          description: Git deployed sha
          nullable: true
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
      type: object
    environment-collection:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        id:
          description: Environment identifier.
          readOnly: true
          type: string
        type:
          description: "Environment type: primary or ephemeral."
          readOnly: true
          type: string
        name:
          description: Environment name.
          readOnly: true
          type: string
        namespace:
          description: Environment k8s namespace.
          readOnly: true
          type: string
        operationStatus:
          description: Environment operation status.
          readOnly: true
          type: string
        clusterStatus:
          description: Environment cluster status.
          readOnly: true
          type: string
        project:
          description: Project identifier.
          readOnly: true
          type: string
        kubernetesIntegration:
          description: Kubernetes integration identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    environment-item:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        id:
          description: Environment identifier.
          readOnly: true
          type: string
        type:
          description: "Environment type: primary or ephemeral."
          readOnly: true
          type: string
        name:
          description: Environment name.
          readOnly: true
          type: string
        namespace:
          description: Environment k8s namespace.
          readOnly: true
          type: string
        totalComponents:
          description: Service component identifier
          readOnly: true
          type: integer
        operationStatus:
          description: Environment operation status.
          readOnly: true
          type: string
        clusterStatus:
          description: Environment cluster status.
          readOnly: true
          type: string
        project:
          description: Project identifier.
          readOnly: true
          type: string
        kubernetesIntegration:
          description: Kubernetes integration identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    environment.CloneAction:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        name:
          maxLength: 255
          type: string
      required:
      - name
      type: object
    environment.CreateAction:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        name:
          maxLength: 255
          type: string
        project:
          type: string
        genesis:
          $ref: '#/components/schemas/environment_CreateAction_genesis'
        type:
          type: string
        remoteDevelopmentAllowed:
          type: boolean
        autoUpdate:
          type: boolean
        createEphemeralOnPrCreate:
          type: boolean
        destroyEphemeralOnPrClose:
          type: boolean
        kubernetesIntegration:
          nullable: true
          type: string
        ephemeralKubernetesIntegration:
          nullable: true
          type: string
      required:
      - name
      - project
      type: object
    environment.EditAction:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        name:
          maxLength: 255
          nullable: true
          type: string
        remoteDevelopmentAllowed:
          nullable: true
          type: boolean
        autoUpdate:
          nullable: true
          type: boolean
        kubernetesIntegration:
          nullable: true
          type: string
        edit:
          $ref: '#/components/schemas/environment_EditAction_edit'
        genesis:
          $ref: '#/components/schemas/environment_EditAction_genesis'
      type: object
    environment.EditComponentsAction:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        filter:
          $ref: '#/components/schemas/environment_EditComponentsAction_filter'
        target:
          $ref: '#/components/schemas/GitInfo'
      required:
      - filter
      - target
      type: object
    environment.GenericObject:
      description: An environment holds a collection of buildable and deployable components.
      type: object
    environment.KubeConfig-kube-config.read:
      description: An environment holds a collection of buildable and deployable components.
      properties:
        apiVersion:
          default: v1
          example: v1
          type: string
        kind:
          default: Config
          example: Config
          type: string
        preferences:
          type: object
        clusters:
          items:
            $ref: '#/components/schemas/ClusterWrapper-kube-config.read'
          type: array
        users:
          items:
            $ref: '#/components/schemas/UserWrapper-kube-config.read'
          type: array
        contexts:
          items:
            $ref: '#/components/schemas/ContextWrapper-kube-config.read'
          type: array
        current-context:
          type: string
      type: object
    environment_variable-collection:
      description: An environment variable used during bunnyshell workflows.
      properties:
        id:
          description: Environment variable identifier.
          readOnly: true
          type: string
        name:
          description: Environment variable name.
          readOnly: true
          type: string
        secret:
          description: Environment variable marked as secret.
          readOnly: true
          type: boolean
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    environment_variable-item:
      description: An environment variable used during bunnyshell workflows.
      properties:
        id:
          description: Environment variable identifier.
          readOnly: true
          type: string
        name:
          description: Environment variable name.
          readOnly: true
          type: string
        value:
          description: Environment variable value.
          nullable: true
          readOnly: true
          type: string
        secret:
          description: Environment variable marked as secret.
          readOnly: true
          type: boolean
        environment:
          description: Environment identifier.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    environment_variable.Edit:
      description: An environment variable used during bunnyshell workflows.
      properties:
        value:
          maxLength: 255
          nullable: true
          type: string
      type: object
    event-collection:
      description: "An event represents an operation on an environment, integration\
        \ or settings"
      properties:
        id:
          description: Event identifier.
          readOnly: true
          type: string
        type:
          description: Event type.
          readOnly: true
          type: string
        status:
          description: Event operation status.
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          nullable: true
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    event-item:
      description: "An event represents an operation on an environment, integration\
        \ or settings"
      properties:
        id:
          description: Event identifier.
          readOnly: true
          type: string
        type:
          description: Event type.
          readOnly: true
          type: string
        status:
          description: Event operation status.
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          nullable: true
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
        createdAt:
          description: Event creation time.
          format: date-time
          readOnly: true
          type: string
        updatedAt:
          description: Event last update time.
          format: date-time
          readOnly: true
          type: string
        delegated:
          description: Event identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    kubernetes_integration-collection:
      description: A Kubernetes integration stores connection information for a Kubernetes
        cluster.
      properties:
        id:
          description: Kubernetes integration identifier.
          readOnly: true
          type: string
        clusterName:
          description: Kubernetes integration cluster name.
          readOnly: true
          type: string
        cloudName:
          description: Kubernetes integration cloud name.
          readOnly: true
          type: string
        cloudProvider:
          description: Kubernetes integration cluster provider.
          readOnly: true
          type: string
        status:
          description: Kubernetes integration status.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    kubernetes_integration-item:
      description: A Kubernetes integration stores connection information for a Kubernetes
        cluster.
      properties:
        id:
          description: Kubernetes integration identifier.
          readOnly: true
          type: string
        clusterName:
          description: Kubernetes integration cluster name.
          readOnly: true
          type: string
        cloudName:
          description: Kubernetes integration cloud name.
          readOnly: true
          type: string
        cloudProvider:
          description: Kubernetes integration cluster provider.
          readOnly: true
          type: string
        status:
          description: Kubernetes integration status.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    organization-collection:
      description: An organization holds multiple projects and all the integrations
        used by environments
      properties:
        id:
          description: Organization identifier.
          readOnly: true
          type: string
        name:
          description: Organization name as defined in Bunnyshell UI.
          readOnly: true
          type: string
        timezone:
          description: Organization timezone as defined in Bunnyshell UI.
          readOnly: true
          type: string
      type: object
    organization-item:
      description: An organization holds multiple projects and all the integrations
        used by environments
      properties:
        id:
          description: Organization identifier.
          readOnly: true
          type: string
        name:
          description: Organization name as defined in Bunnyshell UI.
          readOnly: true
          type: string
        timezone:
          description: Organization timezone as defined in Bunnyshell UI.
          readOnly: true
          type: string
        totalUsers:
          description: Organization total users.
          readOnly: true
          type: integer
        totalProjects:
          description: Organization total projects.
          readOnly: true
          type: integer
        availableRegistries:
          description: Organization total available registry integrations.
          readOnly: true
          type: integer
        availableClusters:
          description: Organization total available cluster integrations.
          readOnly: true
          type: integer
        availableGitIntegration:
          description: Organization total available git integrations.
          readOnly: true
          type: integer
      type: object
    paginated-component-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_component_collection'
      type: object
    paginated-componentEndpoint-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_componentEndpoint_collection'
      type: object
    paginated-componentGit-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_componentGit_collection'
      type: object
    paginated-environment-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_environment_collection'
      type: object
    paginated-environment_variable-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_environment_variable_collection'
      type: object
    paginated-event-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_event_collection'
      type: object
    paginated-kubernetes_integration-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_kubernetes_integration_collection'
      type: object
    paginated-organization-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_organization_collection'
      type: object
    paginated-pipeline-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_pipeline_collection'
      type: object
    paginated-project-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_project_collection'
      type: object
    paginated-template-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_template_collection'
      type: object
    paginated-templates_repository-collection:
      description: Paginated result
      properties:
        _links:
          $ref: '#/components/schemas/paginated_links'
        totalItems:
          format: int32
          type: integer
        page:
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
        _embedded:
          $ref: '#/components/schemas/embedded_templates_repository_collection'
      type: object
    paginated_itemsPerPage:
      format: int32
      type: integer
    paginated_link:
      properties:
        href:
          type: string
      type: object
    paginated_links:
      properties:
        self:
          $ref: '#/components/schemas/paginated_link'
        first:
          $ref: '#/components/schemas/paginated_links_first'
        prev:
          $ref: '#/components/schemas/paginated_links_first'
        next:
          $ref: '#/components/schemas/paginated_links_first'
        last:
          $ref: '#/components/schemas/paginated_links_first'
        item:
          items:
            $ref: '#/components/schemas/paginated_link'
          type: array
      type: object
    paginated_page:
      format: int32
      type: integer
    paginated_total:
      format: int32
      type: integer
    pipeline-collection:
      description: A pipeline.
      properties:
        id:
          description: Pipeline identifier.
          readOnly: true
          type: string
        description:
          description: Pipeline description.
          readOnly: true
          type: string
        status:
          description: Pipeline status.
          readOnly: true
          type: string
        environment:
          description: Environment identifier.
          nullable: true
          readOnly: true
          type: string
        event:
          description: Event identifier.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    pipeline-item:
      description: A pipeline.
      properties:
        id:
          description: Pipeline identifier.
          readOnly: true
          type: string
        description:
          description: Pipeline description.
          readOnly: true
          type: string
        status:
          description: Pipeline status.
          readOnly: true
          type: string
        stages:
          description: Stage identifier.
          items:
            $ref: '#/components/schemas/Stage-item'
          readOnly: true
          type: array
        environment:
          description: Environment identifier.
          nullable: true
          readOnly: true
          type: string
        event:
          description: Event identifier.
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    problem.generic:
      description: Generic Error
      properties:
        title:
          type: string
        detail:
          type: string
        violations:
          items:
            $ref: '#/components/schemas/problem.violation'
          nullable: true
          type: array
      type: object
    problem.violation:
      description: A validation error
      properties:
        propertyPath:
          type: string
        message:
          type: string
      type: object
    project-collection:
      description: A project holds multiple environments and shared secrets and settings.
      properties:
        id:
          description: Project identifier.
          readOnly: true
          type: string
        name:
          description: Project name.
          readOnly: true
          type: string
        totalEnvironments:
          description: Environment identifier.
          readOnly: true
          type: integer
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    project-item:
      description: A project holds multiple environments and shared secrets and settings.
      properties:
        id:
          description: Project identifier.
          readOnly: true
          type: string
        name:
          description: Project name.
          readOnly: true
          type: string
        totalEnvironments:
          description: Environment identifier.
          readOnly: true
          type: integer
        organization:
          description: Organization identifier.
          readOnly: true
          type: string
      type: object
    template-collection:
      description: A template holds information for generating an environment.
      properties:
        id:
          description: Template identifier.
          readOnly: true
          type: string
        key:
          description: Template key.
          readOnly: true
          type: string
        name:
          description: Template name.
          readOnly: true
          type: string
        gitSha:
          description: Template git repository SHA.
          readOnly: true
          type: string
        shortDescription:
          description: Template short description.
          nullable: true
          readOnly: true
          type: string
        tags:
          description: Template tags.
          items:
            type: string
          readOnly: true
          type: array
        organization:
          description: Organization identifier.
          nullable: true
          readOnly: true
          type: string
        templatesRepository:
          description: Templates repository identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    template-item:
      description: A template holds information for generating an environment.
      properties:
        id:
          description: Template identifier.
          readOnly: true
          type: string
        key:
          description: Template key.
          readOnly: true
          type: string
        name:
          description: Template name.
          readOnly: true
          type: string
        gitSha:
          description: Template git repository SHA.
          readOnly: true
          type: string
        shortDescription:
          description: Template short description.
          nullable: true
          readOnly: true
          type: string
        tags:
          description: Template tags.
          items:
            type: string
          readOnly: true
          type: array
        organization:
          description: Organization identifier.
          nullable: true
          readOnly: true
          type: string
        templatesRepository:
          description: Templates repository identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    template.GenericObject:
      description: A template holds information for generating an environment.
      type: object
    template.ValidateAction:
      description: A template holds information for generating an environment.
      properties:
        source:
          $ref: '#/components/schemas/template_ValidateAction_source'
      type: object
    templates_repository-collection:
      description: A templates repository holds multiple templates.
      properties:
        id:
          description: Templates repository identifier.
          readOnly: true
          type: string
        name:
          description: Templates repository name.
          readOnly: true
          type: string
        gitRepositoryUrl:
          description: Templates repository git repository URL.
          readOnly: true
          type: string
        gitRef:
          description: Templates repository git repository reference.
          readOnly: true
          type: string
        lastSyncSha:
          description: Templates repository last synced git repository SHA.
          nullable: true
          readOnly: true
          type: string
        organization:
          description: Organization identifier.
          nullable: true
          readOnly: true
          type: string
      type: object
    templates_repository-item:
      description: A templates repository holds multiple templates.
      properties:
        id:
          description: Templates repository identifier.
          readOnly: true
          type: string
        name:
          description: Templates repository name.
          readOnly: true
          type: string
        gitRepositoryUrl:
          description: Templates repository git repository URL.
          readOnly: true
          type: string
        gitRef:
[...]
